<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kissco.shop.dao.OrderMapper">
<select id="orderList" parameterType="String" resultType="order">
SELECT
	order_code as orderCode
	,member_id as memberId
	,order_status as orderStatus
	,order_indate as orderIndate
FROM
	shop_order
WHERE
	member_id = #{memberId}
ORDER BY
	order_indate DESC
</select>

<select id="opodJoinList" parameterType="order" resultType="hashmap">
SELECT
    p.product_savedfilename as productSavedfilename
    ,p.product_name as productName
    ,od.orderdetail_quantity as orderdetailQuantity
    ,p.product_price as productPrice
FROM
	shop_product p
	,shop_order o
    ,shop_orderdetail od
WHERE
    o.order_code = od.order_code
AND
    p.product_code = od.product_code
AND
	o.member_id = #{memberId}
AND
    od.order_code = #{orderCode}
ORDER BY
	o.order_indate DESC
</select>
</mapper>
